@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body{
	
/* 	background: #ed6a1b;  */
	
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif !important;
	color: #fff;
}



.center{
	margin: 0px 20px;
}

.center img{
	width: 200px;
	margin: 30px auto 30px auto;
	display: block;
	padding: 10px !important;
}

h1, h2 {
	margin: 20px auto !important; 
	display: block;
	padding: 0 0 0 0 !important;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
}

h3 span{
	font-family: 'Lato', sans-serif;
	text-align: center
}